* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px/1.5 monospace;
  background-color: #000;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app h1 {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font: bold 1.5rem/1.5 monospace;
  color: #fff;
  background-color: #000;
}

.app h1 span:first-child {
  color: #ffff55;
}

.app .main {
  width: 100%;
}